@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
/* Main font chosen, need another font to compliment Bebas Neue */
/* set all margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
    border: none;
 }

 body {
    font-family: Montserrat, sans-serif;
    color: #3a3a3a;
}

#nav-links,
h1,
h2 {
    font-family: Bebas Neue, sans-serif;
    color: #252525;
    letter-spacing: 3px;
}

/* Main Logo for site on left*/

#main-logo {
    font-size: 300%;
}

/* Internal links menu on right */
#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    letter-spacing: 3px;    
}
#nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-links>li {
    list-style-type: none;
    margin-right: 30px;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}
#nav-links, #main-logo {
    line-height: 75px;
}
#nav-links a:hover {
    box-shadow: 2px 2px black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    font-size: 110%; 
}

/* main image or hero image */
#main-image {
    height: 600px;
    height: 100%;
    background: url(../images/hero-guitar_ii.jpg) no-repeat center center;

}